<div class="row">
    <div class="col-md-12">
        <h2>Pre requisitos</h2>
        <p>Ejecutar el script "/TestVirtualMindDB.sql" para crear la base de datos y popular las tablas</p>
    </div>
    <div class="col-md-12">
        <p>En este proyecto se encuentran los dos @Html.ActionLink("servicios rest", "Index", "Help", new { area = "" }, null) (Cotizacion y Usuarios). </p>
        <p>Tambien se incluyen pruebas realizadas mediante la aplicacion postman (/postman)</p>
    </div>
</div>
